/*
 *先cd /cd /usr/local/nginx/conf/vhost,会列出所有nginx的配置文件
 *其中shop.conf，就是下面这个配置
 *由于thinkPHP 支持的模式有：
    URL模式  URL_MODEL设置    例子
    普通模式      0          http://localhost/?m=home&c=user&a=login&var=value
    PATHINFO模式  1          http://localhost/index.php/home/user/login/var/value/
    REWRITE模式   2          http://localhost/home/user/login/var/value
    兼容模式      3          http://localhost/?s=/home/user/login/var/value
 *将项目部署到nginx服务器上才发觉nginx是不支持pathinfo的，网上搜索了别人的解决方法，有两种思路:
　　1、修改thinkphp让他可以在nginx上运行
　　2、修改nginx让它支持pathinfo
    网上说nginx开启pathinfo是有一定风险的，能不用pathinfo最好不用，所以还是折腾thinkphp吧，个人觉得这种方法相对第2种方法来得简单
    先 修改nginx的rewrite ,ngxinx的配置项（真的只需要下面一条就可以了，网上的其他方法就是TM坑爹的，加了一堆的配置项，有卵用....,害我配置了好多天）:
        location / {
            if (!-e $request_filename) {
            rewrite ^(.*)$ /index.php?s=$1 last;
            break;
            }
        }
    再 项目配置(config.php)下url模式改为2:
    'URL_MODEL'=>2,
 *其实thinkphp3.2手册里 URL重写部分有，但是没有写清楚，没有提将url模式改为2，配置部分一样样的，也只需要那一段就可以了，不需要其他的
 */
//自己的商城项目配置，可用:记住访问的时候 要 http://s.gsplbb.xyz/Home/Index/index 模式 ，不需要index.php，也不能直接 http://s.gsplbb.xyz/
server {
    listen   80;
    #listen   [::]:80 default ipv6only=on;
    root /home/wwwroot/default/shop;
    #index index.php index.html index.htm;
    server_name s.gsplbb.xyz;
    include other.conf;
    include enable-php.conf;
        location / {
    		if (!-e $request_filename) {
    		rewrite ^(.*)$ /index.php?s=$1 last;
    		break;
    	        }
        }
 }
