.buy-sell-fixed{ width:100%; height:101px; overflow:hidden; position:fixed; left:70px; top:0; z-index:9999;}

/*buy-sell-search begin*/
.buy-sell-search{ width:100%; height:32px; padding:11px 0 8px 0; overflow:hidden; background:#ff5000;}
.buy-sell-search .select{ width:8%; height:32px; border-radius:4px; overflow:hidden;}
.buy-sell-search .select select{ width:100%; height:32px;}
.buy-sell-search .search{ width:90%; height:32px; overflow:hidden; border-radius:2px; background:#fff;}
.buy-sell-search .search .import{ height:14px; padding:9px 0 9px 9px;}
.buy-sell-search .search .submit{ color:#fff; width:80px; height:32px; line-height:32px; text-align:center; background:#732400; cursor:pointer;}
/*buy-sell-search end*/

/*buy-sell-tab begin*/
.buy-sell-tab{ width:100%; height:49px; line-height:48px; background:#fff; border-bottom:1px solid #d6d7dc;}
.buy-sell-tab li{ text-align:center; width:25%; float:left;}
.buy-sell-tab li.hover a{ color:#ff5000; border-bottom:2px solid #ff5000;}
.buy-sell-tab li a{ color:#6d6d6d; display:block;}
/*buy-sell-tab end*/

/*buy-sell-con begin*/
.buy-sell-con{ width:100%; height:auto; overflow:hidden;}
.buy-sell-con .tab-con{ padding:101px 0 0 0;}
.buy-sell-con li{ width:100%; height:119px; overflow:hidden; border-bottom:1px solid #d9d9d9; background:#fff; margin:0 0 10px 0;}
.buy-sell-con li .settop{ position:relative;}
.buy-sell-con li .thumb{ height:49px; overflow:hidden; margin:10px 0 7px 0;}
.buy-sell-con li .thumb span{ float:left; color:#62759e; margin:12px 0 0 10px;}
.buy-sell-con li .info{ height:14px; line-height:14px; overflow:hidden; margin:0 0 10px 0; background:url(../img/icons.png) no-repeat; padding:0 0 0 22px;} 
.buy-sell-con li .sell .info span{ color:#62759e;}
.buy-sell-con li .sell .info{ background-position:-30px -248px;}
.buy-sell-con li .buy .info span{ color:#ffa200;}
.buy-sell-con li .buy .info{ background-position:-30px -234px;}
.buy-sell-con li .other{ height:16px; line-height:16px; overflow:hidden;}
.buy-sell-con li .other .time{ font-size:12px; color:#999;}
.buy-sell-con li .other .feedback{ height:16px; line-height:16px; overflow:hidden;}
.buy-sell-con li .other .feedback p{ margin:0 14px 0 0; padding:0 0 0 24px; float:left; background:url(../img/spirit.png) no-repeat;}
.buy-sell-con li .other .feedback p.bid{ background-position:0 -394px;}
.buy-sell-con li .other .feedback p.reply{ background-position:0 -410px;}
.buy-sell-con li .other .feedback p a{ color:#6d6d6d;}
.buy-sell-con li .other .feedback p a span{ color:#63769d;}
.buy-sell-con li .set-top{ position:absolute; top:10px; right:0; width:68px; height:50px; overflow:hidden; background:url(../img/buy-sell1.png) no-repeat;}

.tab-con .no-results{ font-size:16px; width:100%; height:auto; overflow:hidden; margin:64px 0 0 0;}
.tab-con .no-results span{ display:block; text-align:center;}
.tab-con .no-results img{ display:block; margin:0 auto; margin-bottom:22px;}
#con-tab-2 .no-results .thumb{ width:50%; height:auto; overflow:hidden;}
#con-tab-2 .no-results .explain{ width:50%; height:auto; line-height:32px; overflow:hidden; margin:60px 0 0 0; background:url(../img/buy-sell3.png) right top no-repeat;}
/*buy-sell-con end*/

/*release begin*/
.release{ width:100%; height:199px; background:#f0f0f6; overflow:hidden; border-top:1px solid #d8d8d8; position:fixed; left:70px; bottom:0;}
.release .radio{ font-size:18px; width:224px; height:19px; line-height:19px; overflow:hidden; margin:10px auto 20px auto;}
.release .radio input{ margin:0 5px 0 0;}
.release .radio span{ color:#ff5000;}
.release .con .import{ width:66%;}
.release .con .import .submit{ color:#fff; text-align:center; width:80px; height:24px; line-height:24px; background:#ff5000; border-radius:3px; box-shadow:0 2px 0 #cb4000; margin:0 auto 9px auto; display:block; cursor:pointer;}
.release .con .tips{ color:#333; font-size:12px; width:34%; line-height:20px;}
.release .con .tips p.title{ color:#ff5000;}
.release .release-tab{ font-size:12px; width:17%; height:auto; overflow:hidden; border:1px solid #d9d9d9; border-top-left-radius:5px; border-bottom-left-radius:5px;}
.release .release-tab li{ text-align:center; width:100%; height:32px; line-height:32px; overflow:hidden; cursor:pointer;}
.release .release-tab li.hover{ background:#fff;}
.release .release-tab-con{ width:80%; height:88px; padding:14px 0 0 0; overflow:hidden; border:1px solid #d9d9d9; background:#fff; margin-bottom:12px;}
.release .release-tab-con textarea{ width:96%; height:82px; margin:0 auto; display:block;}
#tabx1{ border-bottom:1px solid #d9d9d9;}
#con-tabx-2 .tr{ height:32px; line-height:32px; overflow:hidden; margin:0 0 10px 0;}
#con-tabx-2 .tr div{ float:left;}
#con-tabx-2 .tr .name{ text-align:center; width:10%;}
#con-tabx-2 .tr .val{ width:36%; height:30px; overflow:hidden; border:1px solid #c5c8cc; border-radius:2px;}
#con-tabx-2 .tr .val input{ width:97%; height:14px; padding:8px 0 8px 3%;}
#radio-sell{ margin:0 0 0 42px;}
/*release end*/

/*buy-sell-con2 begin*/
.buy-sell-con2{ padding:50px 0 0 0;}
.buy-sell-con2 .attention{ font-weight:bold; text-align:center; width:78px; height:30px; line-height:30px; border:1px solid; border-radius:3px; position:absolute; right:0; top:17px;}
.buy-sell-con2 .attention.yes{ color:#ff5000; border-color:#ff5000; cursor:pointer;}
.buy-sell-con2 .attention.no{ color:#999; border-color:#999;}
/*buy-sell-con2 end*/

/*feedback-wrap begin*/
.feedback-wrap{ width:100%; height:auto; overflow:hidden; background:#fff; border-top:1px solid #d9d9d9;}
.feedback-tab{ width:198px; height:30px; line-height:30px; overflow:hidden; border:1px solid #822901; margin:13px auto 19px auto; border-radius:3px;}
.feedback-tab li{ text-align:center; width:99px; float:left; cursor:pointer;}
.feedback-tab li.hover{ color:#fff; background:#822901;}
.feedback-con{ width:100%; height:auto; overflow:hidden;}

.feedback-con li .thumb .person{ color:#62759e; font-size:16px; margin:0 0 4px 0;}
.feedback-con li .thumb{ height:48px; overflow:hidden; margin:10px 0 0 0;}
.feedback-con .bid-list li .thumb{ margin-left:14px;}
.feedback-con li .thumb .pic{ margin:0 10px 0 0;}
.feedback-con li .thumb p{}
.feedback-con li .info{ margin:0 0 0 54px;}

.feedback-con .bid-list{ width:100%; height:auto; overflow:hidden; padding:0 0 60px 0;}
.feedback-con .bid-list .bid-title{ text-align:center; width:98%; height:31px; line-height:31px; overflow:hidden; background:#f2f2f2; border:1px solid #d6d7dc; border-top-left-radius:5px; border-top-right-radius:5px;}
.feedback-con .bid-list .name{ width:40%; float:left;}
.feedback-con .bid-list .price{ width:29%; float:left; border-left:1px solid #d6d7dc; border-right:1px solid #d6d7dc;}
.feedback-con .bid-list .mobile{ width:29%; float:left;}
.feedback-con .bid-list .bid-con{ width:98%; height:auto; overflow:hidden; border-left:1px solid #d6d7dc; border-right:1px solid #d6d7dc;}
.feedback-con .bid-list .bid-con li{ width:100%; height:66px; overflow:hidden; border-bottom:1px solid #d6d7dc;}
.feedback-con .bid-list .bid-con li .name,.feedback-con .bid-list .bid-con li .price,.feedback-con .bid-list .bid-con li .mobile{ height:66px;}
.feedback-con .bid-list .bid-con li .price,.feedback-con .bid-list .bid-con li .mobile{ text-align:center; line-height:66px;}
.feedback-con .bid-list .bid-con li .price{ color:#ff5000;}
.feedback-con .reply-list{ width:96%; height:auto; overflow:hidden; padding:0 0 60px 0; margin:0 auto;}  
.feedback-con .reply-list li{ height:85px; overflow:hidden; border-bottom:1px solid #d6d7dc;}
.feedback-con .opt{ height:59px; overflow:hidden; border-top:1px solid #bbb; background:#f0f0f6; position:fixed; left:70px; bottom:0; z-index:9999;}
.feedback-con .opt .import{ width:80%; height:30px; line-height:30px; background:#fff; border:1px solid #d6d7dc; margin:13px 0 0 0; padding:0 0 0 2%;}
.feedback-con .opt .submit{ color:#fff; font-size:18px; text-align:center; width:15%; height:44px; line-height:44px; background:#ff5000; margin:7px 0 0 0; cursor:pointer;}
/*feedback-wrap end*/
