/*left begin*/
.left{ width:70px; height:auto; overflow:hidden; background:#262626; text-align:center;}
.left .pic{ margin:0 auto; padding:65px 0 0 0;}
.left ul{ margin:36px 0 0 0;}
.left li{ height:55px; margin:0 0 40px 0;}
.left li a{ display:block;}
.left li span{ display:block; width:34px; height:28px; overflow:hidden; background:url(../img/spirit.png) no-repeat; margin:0 auto; margin-bottom:13px;}
.left li span.menu1{ background-position:0 0;}
.left li span.menu2{ background-position:0 -28px;}
.left li span.menu3{ background-position:0 -56px;}
.left li span.menu4{ background-position:0 -84px;}
.left li.hover a,.left li:hover a{ color:#ff5000;}
.left li.hover span.menu1,.left li:hover span.menu1{ background-position:-34px 0;}
.left li.hover span.menu2,.left li:hover span.menu2{ background-position:-34px -28px;}
.left li.hover span.menu3,.left li:hover span.menu3{ background-position:-34px -56px;}
.left li.hover span.menu4,.left li:hover span.menu4{ background-position:-34px -84px;}
.left a{ color:#787878;}
/*left end*/

